<% layout('layout') %>
    <% if(isShow) { %>
        <span>資料有呈現</span>
    <% } %>
    <%- title %>
    <p>Boss: <%= Boss %></p>
    <ul>
        <%course.forEach( item => { %>
            <% if(item === 'Vue') {%>
                <li><%- "Hello!!-" + item %></li>
            <%}else {%>
                <li><%- item %></li>
            <%} %> 
        <% }) %>
    </ul>

