<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>Layout</h3>
    <%- body %> 
    <object data="" type="application/pdf" id="obj">
        <iframe src=""  id="emb" width="800" height="600"></iframe>
    </object>
    <script src="/javascripts/all.js"></script>
</body>
</html>